html {
    background-color: #00131a;
    background: linear-gradient(315deg, #003c52, #00131a) fixed;
}

body {
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    width: 800px;
    margin: auto;
    border-radius: 20px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
    margin: 10px
}

hr {
    width: 80%;
    border-color: #ffffff99;
    margin-top: 30px;
    margin-bottom: 30px;
}

.italic {
    font-style: italic;
}

#output {
    border: 1px solid #ffffff99;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

input, button {
    background-color: #121212;
    border-color: #121212;
    color: white;
    border-radius: 5px;
    transition: 0.1s;
}

input:hover, input:focus, button:hover {
    background-color: #3b3b3b;
    color: white;
    border-radius: 5px;
}