body {
    background-color: #00131a;
    background: linear-gradient(315deg, #003c52, #00131a) fixed;
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
    margin: 10px
}

a {
    color: white;
}

hr {
    width: 80%;
    border-color: #ffffff99;
    margin-top: 30px;
    margin-bottom: 30px;
}

.italic {
    font-style: italic;
}

#yes {
    font-size: 15px;
    color: #ffffff99;
    margin: 30px;
}

#mono {
    color: #ffffff99;
}

#rval {
    color: #ffaaaa99;
}
#gval {
    color: #aaffaa99;
}
#bval {
    color: #aaaaff99;
}

input[type=range] {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]#red {
    background: #ffaaaa99;
}
input[type=range]#green {
    background: #aaffaa99;
}
input[type=range]#blue {
    background: #aaaaff99;
}

input[type=range]:hover {
    opacity: 1;
}

#output {
    border: 1px solid #ffffff99;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

input, button {
    background-color: #121212;
    border-color: #121212;
    color: white;
    border-radius: 5px;
    transition: 0.1s;
}

input:hover, input:focus, button:hover {
    background-color: #3b3b3b;
    color: white;
    border-radius: 5px;
}