html {
    background-color: #00131a;
    background: linear-gradient(315deg, #003c52, #00131a) fixed;
}

body {
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    width: 800px;
    margin: auto;
    border-radius: 20px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
    margin: 10px
}

a {
    color: white;
}

hr {
    width: 80%;
    border-color: #ffffff99;
    margin-top: 30px;
    margin-bottom: 30px;
}

#quote {
    font-size: 15px;
    color: #ffffff99;
    margin: 30px;
}